
.userAdd a .ListButton {
    background-color: #145999;
    Width: 60px;
    Height: 30px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    border-left: 1px solid #D4D9DE;
    border-right: 1px solid #D4D9DE;
    border-bottom: 1px solid #D4D9DE;
    padding: 15px;
}

td {
    border-left: 1px solid #D4D9DE;
    border-right: 1px solid #D4D9DE;
    border-bottom: 1px solid #D4D9DE;
    padding: 13px;
}

td div {
    display: inline;
    padding: 0px 5px;
}

td div svg {
    cursor: not-allowed;
}